<!DOCTYPE html>
<head>
</head>
<body>
    <b>This is my login form</b>
    <br>
    <br>
    <form action="/login" method="POST">
      <div>
        <label>Username: </label>
        <input id="email" name="email" type="text">
      </div>
      <br>
      <div>
        <label>Password: </label>
        <input id="password" name="password" type="password">
      </div>
      <br>
      <button>Submit</button>
    </form>
    <br>
    <br>
    <b>Not a user yet? Sign Up using the form below</b>
    <br>
    <br>
    <form id="signup-form">
      <div>
        <label>Username: </label>
        <input id="email" type="text">
      </div>
      <br>
      <div>
        <label>Password: </label>
        <input id="password" type="password">
      </div>
      <br>
      <button type="submit">Submit</button>
    </form>
    //- script(type='text/javascript', src='/javascripts/auth.js')
    //- script. 
    
</body>
